<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et labore atque, dolor temporibus id nobis quod. Doloremque modi in incidunt fuga aspernatur vel, dolore consequuntur voluptas pariatur! Reprehenderit, numquam laboriosam.</p>
    </div>
</section>