<div class="jumbotron mt-2">
        <h1 class="display-4">Notes app</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ducimus adipisci impedit magni aut exercitationem explicabo earum blanditiis cupiditate modi ipsum vel voluptatibus odit corrupti at nostrum quibusdam ullam mollitia ad dicta quod deserunt eius, temporibus ratione? Et ab eos, ratione architecto accusantium perferendis earum dolore, a impedit consectetur culpa.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum iste aut libero nam dolore sunt delectus sed? Magni eaque iure eligendi ipsa saepe consequuntur, temporibus error totam consectetur eveniet aut!</p>
        <button type="button" class="btn btn-link">Link</button>
        <a href="https://google.com/" class="btn btn-primary">Ir a la web</a>
</div>