<div class="row">
    {{#each notes}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{title}} <a href="/note/edit/{{id}}"><i class="fas fa-pen"></i></a>
                        
                    </h4>
                    <p>{{description}}</p>
                    <form action="/note/delete/{{_id}}" method="POST">
                        <button class="btn btn-danger btn-block btn-sm">
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
</div>